:root {
    --color-background: #0F162D;
    --color-area-background: #272D42;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #ffffff88;
    --color-learning-icon: #CA59FF;
    --color-learning-icon-background: #373155;
    --color-vision-icon: #6C7CFF;
    --color-vision-icon-background: #2C3455;
    --color-language-icon: #2AFFFF;
    --color-language-icon-background: #274255;
    --color-robotics-icon: #FFF629;
    --color-robotics-icon-background: #3D413F;
    --color-hover-edge: #909090;

    --gap-small: 16px;
    --gap-big: 24px;

    --border-radius-small: 14px;
    --border-radius-medium: 16px;
    --border-radius-big: 20px;
    --border-radius-vbig: 24px;
}