@media only screen and (min-width: 1366px) {
  #home-page {
    padding: 152px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--gap-big);
  }

  .intro {
    padding-right: 86px;
    grid-column: span 2;
    grid-row: span 2;
  }

  .area-container {
    border-radius: var(--border-radius-vbig);
    overflow: hidden;
    transition-duration: 300ms;
    position: relative;

    &:hover {
      transform: scale(1.1);
      transition-duration: 300ms;

      &:before {
        background-position: 100% 100%;
      }
    }

    &--learning:before {
      background: linear-gradient(
        135deg,
        var(--color-area-background) 0%,
        var(--color-area-background) 48%,
        var(--color-hover-edge) 49%,
        var(--color-learning-icon-background) 50%,
        var(--color-learning-icon-background) 100%
      );
    }

    &--vision:before {
      background: linear-gradient(
        135deg,
        var(--color-area-background) 0%,
        var(--color-area-background) 48%,
        var(--color-hover-edge) 49%,
        var(--color-vision-icon-background) 50%,
        var(--color-vision-icon-background) 100%
      );
    }

    &--language:before {
      background: linear-gradient(
        135deg,
        var(--color-area-background) 0%,
        var(--color-area-background) 48%,
        var(--color-hover-edge) 49%,
        var(--color-language-icon-background) 50%,
        var(--color-language-icon-background) 100%
      );
    }

    &--robotics:before {
      background: linear-gradient(
        135deg,
        var(--color-area-background) 0%,
        var(--color-area-background) 48%,
        var(--color-hover-edge) 49%,
        var(--color-robotics-icon-background) 50%,
        var(--color-robotics-icon-background) 100%
      );
    }

    &:before {
      background-position: 0% 0%;
      background-size: 300% 300%;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0px;
      top: 0px;
      transition: background-position 350ms ease;
      z-index: -1;
    }
  }

  .area__icon {
    padding: var(--gap-small);
    border-radius: var(--border-radius-medium);
  }
}
