@media only screen and (min-width: 550px) {
    #home-page {
        grid-template-columns: 240px 240px;
        align-items: center;
        justify-items: center;
    }

    .intro {
        grid-column: span 2;
    }
}